.position {
  margin: 5rem auto;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading {
  color: #ccd6f6;
  text-align: center;
  margin: auto;
  font-size: 4rem;
  border-right: 2px double purple;
  padding-right: 100px;
}

.heading span {
  display: flex;
  color: purple;
}

.greeting {
  color: #ccd6f6;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

.sdev {
  color: #ccd6f6;
  background: linear-gradient(purple);
  text-align: center;
  border-bottom: 1px solid purple;
  background-color: purple;
}

.about {
  color: #8892b0;
  margin: auto;
  text-align: justify;
  font-size: 1.3rem;
}

.profile-pic {
  height: 300px;
  width: 300px;
  transform: scale(0.9);
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  z-index: 1;
  border: 7px double purple;
}
.container {
  margin: auto;
}

.rounds {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: purple;
  position: relative;
}

.rounds:nth-child(1) {
  transform: scale(0.5);
  top: 100px;
}

.rounds:nth-last-child(1) {
  transform: scale(1.2);
  bottom: 120px;
  transform: translateX(125px);
  z-index: -1;
  background-color: transparent !important;
  border: 2px solid purple;
}
