.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block {
  width: 60vw;
  height: calc(100vh - 15rem);
  margin: auto;
  border: 1px solid #a594f9;
  border-radius: 10px;
  padding: 30px;
  background-color: #231942;
  background: linear-gradient(#a594f9);
  box-shadow: 0 0 10px 0 #a594f9;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #a594f9;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  background-color: #ccd6f6;
  border: 1px solid #8892b0;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

.control input:focus::placeholder,
.control textarea:focus::placeholder {
  opacity: 0;
}

.control input:focus,
textarea:focus {
  outline: thin double;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  text-decoration: none;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #a594f9;
  cursor: pointer;
  text-align: center;
  background-color: #231942;
  font-weight: bold;
  color: #a594f9;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #a594f9;
  border-color: #231942;
  color: #231942;
}
