.projects {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  margin: auto;
  padding: 35px;
}

.image {
  height: 480px;
  width: 420px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 #8892b0;
}

.title {
  text-align: center;
  color: #ccd6f6;
}

.projects a {
  text-decoration: none;
  text-align: center;
}
