.projects {
  margin: auto;
}

.heading {
  width: fit-content;
  color: #ccd6f6;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  margin-bottom: 50px;
  border-bottom: 4px solid purple;
  border-left: 4px solid purple;
  padding-bottom: 17px;
  padding-left: 20px;
}

.projects span {
  color: purple;
}

.gridwork {
  display: grid;
  padding: 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.2em;
  margin: auto 20rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid purple;
  box-shadow: 0 0 25px 8px purple;
  margin-bottom: 50px;
  border-radius: 14px;
  text-align: center;
  width: 100%;
  height: 250px;
}

.image {
  height: 240px;
  width: 100%;
  object-fit: fill;
  border-radius: 15px 0 0 15px;
  margin: auto;
  border-right: 5px double purple;
  padding-right: 2px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.project-title {
  color: #ccd6f6;
  margin: auto;
  font-size: 1.5rem;
  padding-right: 20px;
  border-right: 1px solid purple;
}

.project-links {
  text-decoration: none;
  font-size: 1.6rem;
  margin: auto;
  color: #ccd6f6;
  padding-left: 20px;
}

.description {
  color: #8892b0;
  margin: auto 1rem;
  text-align: justify;
  font-size: 1.1rem;
}

.description li {
  padding: 10px;
}

.project-links:hover {
  color: #a594f9;
}

@media only screen and (max-width: 768px) {
  .projects {
    margin: 20px 10px;
    padding-top: 30px;
  }

  .gridwork {
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    grid-gap: 1rem;
    margin: 0;
    padding: 10px;
  }

  .container {
    grid-template-columns: auto;
    width: fit-content;
    height: fit-content;
  }

  .image {
    border-right: none;
  }
}
