.spinner {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
  border-top: 4px solid #a594f9;
  border-right: 4px solid transparent;
}

.spinner:after {
  content: " ";
  display: block;
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border-bottom: 4px solid purple;
  border-left: 4px solid transparent;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
